<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards for WPGraphQL for ACF" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/squizlabs/PHP_CodeSniffer/master/phpcs.xsd">
	<description>Coding standards for the WPGraphQL plugin ecosystem</description>

	<!-- What to scan: include any root-level PHP files, and the /src folder -->
	<file>./access-functions.php</file>
	<file>./activation.php</file>
	<file>./deactivation.php</file>
	<file>./wpgraphql-acf.php</file>
	<file>./src</file>
	<exclude-pattern>*/**/tests/</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>

	<!-- How to scan: include CLI args so you don't need to pass them manually -->
	<!-- Usage instructions: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Usage -->
	<!-- Annotated ruleset: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml -->
	<arg value="sp"/>
	<!-- Show sniff and progress -->
	<arg name="basepath" value="./"/>
	<!-- Strip the file paths down to the relevant bit -->
	<arg name="colors"/>
	<arg name="extensions" value="php"/>
	<!-- Enables parallel processing when available for faster results. -->
	<arg name="parallel" value="20"/>
	<!-- Whenever possible, cache the scan results and re-use those for unchanged files on the next scan. -->
	<arg name="cache" value="tests/_output/cache.json" />

	<!--
		Tests for PHP version compatibility.
		https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards#Recomended-additional-rulesets
	-->
	<config name="testVersion" value="7.3-"/>

	<!--
		Tests for WordPress version compatibility.
		https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/wiki/Customizable-sniff-properties
	-->
	<config name="minimum_supported_wp_version" value="5.4.1"/>

	<!-- Rules: WPGraphQL Coding Standards -->
	<!-- https://github.com/AxeWP/WPGraphQL-Coding-Standards/WPGraphQL/ruleset.xml -->
	<rule ref="WPGraphQL-Strict" />

	<!-- Individual rule configuration -->
	<rule ref="WordPress.Security.EscapeOutput">
		<properties>
			<property type="array" name="customAutoEscapedFunctions">
				<element value="acf_esc_attr"/>
				<element value="acf_esc_attr_e"/>
				<element value="acf_esc_attrs"/>
				<element value="acf_esc_atts"/>
				<element value="acf_esc_atts_e"/>
				<element value="acf_esc_html"/>
				<element value="acf_punctify"/>
			</property>
		</properties>
	</rule>
	<!-- Reenable and update before Production release!!!
		<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array" value="WPGraphQL\ACF, graphql_acf, WPGRAPHQL_ACF" />
		</properties>
	</rule>
	-->
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="wp-graphql-acf" />
			</property>
		</properties>
	</rule>
</ruleset>
